html {
  height: 100%;
}
body {
  height: 100%;
  padding-top: 80px;
  color: #333;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
}
.main .top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  background: #3f4f78;
  color: #fff;
  line-height: 80px;
}
.main .top .logo-box {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 0;
  font-size: 24px;
  color: #fff;
  padding: 0 70px 0 40px;
  margin-left: 30px;
}
.main .top .nav-top {
  display: inline-block;
}
.main .top .nav-top li {
  display: inline-block;
  height: 80px;
  margin-right: 60px;
}
.main .top .nav-top li.active {
  border-bottom: 4px solid #22a6fa;
}
.main .top .nav-top li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.main .top .nav-center {
  margin: 0 30px 0 0;
}
.main .top .nav-center li {
  display: inline-block;
  margin: auto 10px;
}
.main .top .nav-center li a {
  color: #e6e6e6;
  text-decoration: none;
}
.main .top .nav-center li a i.icon-center {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/icon-center.png");
  background-repeat: no-repeat;
  background-size: 128px 19px;
  width: 22px;
  height: 20px;
  margin-right: 5px;
}
.main .top .nav-center li a i.icon-center.icon1 {
  background-position: 3px 1px;
}
.main .top .nav-center li a i.icon-center.icon2 {
  background-position: -34px 1px;
}
.main .top .nav-center li a i.icon-center.icon3 {
  background-position: -72px 0px;
}
.main .top .nav-center li a i.icon-center.icon4 {
  background-position: -109px 0;
}
.main .left-part {
  width: 210px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fafafa;
}
.main .left-part .nav-left {
  margin: 0;
  padding: 20px 0;
}
.main .left-part .nav-left li a {
  font-size: 16px;
  color: #333;
  padding: 22px;
}
.main .left-part .nav-left li a .nav-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/icon-nav.png");
  background-repeat: no-repeat;
  background-size: 56px 222px;
  width: 25px;
  height: 20px;
  margin-right: 10px;
}
.main .left-part .nav-left li a .nav-icon.icon1 {
  background-position: -31px 1px;
}
.main .left-part .nav-left li a .nav-icon.icon2 {
  background-position: -31px -34px;
}
.main .left-part .nav-left li a .nav-icon.icon3 {
  background-position: -32px -67px;
}
.main .left-part .nav-left li a .nav-icon.icon4 {
  background-position: -31px -100px;
}
.main .left-part .nav-left li a .nav-icon.icon5 {
  background-position: -30px -135px;
}
.main .left-part .nav-left li a .nav-icon.icon6 {
  background-position: -30px -169px;
}
.main .left-part .nav-left li a .nav-icon.icon7 {
  background-position: -30px -202px;
}
.main .left-part .nav-left li.active > a,
.main .left-part .nav-left li.active > a:hover,
.main .left-part .nav-left li.active > a:focus {
  background-color: #5584d0;
  color: #fff;
  border-radius: 0;
}
.main .left-part .nav-left li.active > a i.icon1,
.main .left-part .nav-left li.active > a:hover i.icon1,
.main .left-part .nav-left li.active > a:focus i.icon1 {
  background-position: 0 0;
}
.main .left-part .nav-left li.active > a i.icon2,
.main .left-part .nav-left li.active > a:hover i.icon2,
.main .left-part .nav-left li.active > a:focus i.icon2 {
  background-position: 0px -34px;
}
.main .left-part .nav-left li.active > a i.icon3,
.main .left-part .nav-left li.active > a:hover i.icon3,
.main .left-part .nav-left li.active > a:focus i.icon3 {
  background-position: 0 -67px;
}
.main .left-part .nav-left li.active > a i.icon4,
.main .left-part .nav-left li.active > a:hover i.icon4,
.main .left-part .nav-left li.active > a:focus i.icon4 {
  background-position: 0 -100px;
}
.main .left-part .nav-left li.active > a i.icon5,
.main .left-part .nav-left li.active > a:hover i.icon5,
.main .left-part .nav-left li.active > a:focus i.icon5 {
  background-position: 2px -134px;
}
.main .left-part .nav-left li.active > a i.icon6,
.main .left-part .nav-left li.active > a:hover i.icon6,
.main .left-part .nav-left li.active > a:focus i.icon6 {
  background-position: 0 -169px;
}
.main .left-part .nav-left li.active > a i.icon7,
.main .left-part .nav-left li.active > a:hover i.icon7,
.main .left-part .nav-left li.active > a:focus i.icon7 {
  background-position: -2px -202px;
}
.main .right-part {
  margin-left: 210px;
  min-height: 100%;
  padding: 20px 30px;
  background: #f0f4f7;
}
.main .right-part .footer {
  color: #63676b;
  text-align: center;
  margin-top: 20px;
}
.main .right-part .content-wrap {
  background: #fff;
  min-height: 100%;
  width: 100%;
  padding: 0 45px;
}
.main .right-part .content-wrap .page-title {
  padding: 20px 0;
  margin: 0;
}
.main .right-part .content-wrap .search-box {
  padding: 0 15px;
  border: 1px solid #ddd;
}
.main .right-part .content-wrap .search-box .row {
  position: relative;
}
.main .right-part .content-wrap .search-box .row > div {
  border-bottom: 1px dashed #ddd;
}
.main .right-part .content-wrap .search-box .row .btn-box {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 140px;
  line-height: 50px;
}
.main .right-part .content-wrap .search-box .row .btn-box .btn {
  font-size: 12px;
  color: #808080;
  text-decoration: none;
}
.main .right-part .content-wrap .search-box .row .btn-box .btn.btn-more:hover,
.main .right-part .content-wrap .search-box .row .btn-box .btn.btn-more:focus {
  text-decoration: none;
}
.main .right-part .content-wrap .search-box .row .btn-box .btn.btn-check {
  padding: 2px 5px;
}
.main .right-part .content-wrap .search-box .row .check-btn-box {
  margin: 20px auto;
  text-align: center;
  display: none;
}
.main .right-part .content-wrap .search-box .row .check-btn-box .btn {
  width: 58px;
}
.main .right-part .content-wrap .search-box .row .check-btn-box .confirmBtn {
  margin-right: 20px;
  background-color: #3384ff;
  color: #fff;
}
.main .right-part .content-wrap .search-box .row .check-btn-box .confirmBtn:hover,
.main .right-part .content-wrap .search-box .row .check-btn-box .confirmBtn:active,
.main .right-part .content-wrap .search-box .row .check-btn-box .confirmBtn:focus {
  color: #fff;
}
.main .right-part .content-wrap .search-box .row .operate-btn-box {
  padding: 15px 30px 5px;
}
.main .right-part .content-wrap .search-box .row .operate-btn-box .btn {
  padding: 3px 25px;
}
.main .right-part .content-wrap .search-box .row .operate-btn-box .btn .icon {
  display: inline-block;
  width: 20px;
  height: 18px;
  background-image: url("../images/icon-operate.png");
  background-repeat: no-repeat;
  vertical-align: text-top;
  margin-right: 8px;
}
.main .right-part .content-wrap .search-box .row .operate-btn-box .btn .icon.icon-plus {
  background-position: 2px 0;
}
.main .right-part .content-wrap .search-box .row .operate-btn-box .btn .icon.icon-graduate {
  background-position: -30px -2px;
}
.main .right-part .content-wrap .search-box .row .operate-btn-box .btn .icon.icon-delete {
  background-position: -60px 0;
}
.main .right-part .content-wrap .search-box .row .operate-btn-box .btn.active {
  color: #3384ff;
  background: transparent;
  box-shadow: none;
}
.main .right-part .content-wrap .search-box .row .operate-btn-box .btn.active .icon-plus {
  background-position: 2px -29px;
}
.main .right-part .content-wrap .search-box .row .operate-btn-box .btn.active .icon-graduate {
  background-position: -30px -30px;
}
.main .right-part .content-wrap .search-box .row .operate-btn-box .btn.active .icon-delete {
  background-position: -60px -29px;
}
.main .right-part .content-wrap .search-box .row.special .text {
  height: 99px;
  line-height: 30px;
}
.main .right-part .content-wrap .search-box .row.special .btn-box {
  top: 43px;
}
.main .right-part .content-wrap .search-box .row:last-child > div {
  border-bottom: none;
}
.main .right-part .content-wrap .search-box .text {
  padding: 15px 0;
  color: #808080;
  text-align: center;
}
.main .right-part .content-wrap .search-box .search-list {
  height: 50px;
  overflow: hidden;
  font-size: 14px;
}
.main .right-part .content-wrap .search-box .search-list.more-list {
  padding-right: 140px;
}
.main .right-part .content-wrap .search-box .search-list li {
  display: inline-block;
  cursor: pointer;
  margin: auto 15px;
  padding: 15px;
}
.main .right-part .content-wrap .search-box .search-list li.date-li {
  padding: 0;
  display: none;
}
.main .right-part .content-wrap .search-box .search-list li.selected {
  color: #3384ff;
}
.main .right-part .content-wrap .search-box .search-list li > div.search-checkbox {
  display: none;
  margin-right: 5px;
}
.main .right-part .content-wrap .car-panel {
  margin-top: 25px;
  border: none;
  box-shadow: none;
}
.main .right-part .content-wrap .car-panel .panel-heading {
  position: relative;
}
.main .right-part .content-wrap .car-panel .panel-heading:before {
  content: " ";
  display: block;
  width: 5px;
  height: 16px;
  vertical-align: middle;
  background-color: #3384ff;
  position: absolute;
  left: 0;
  top: 13px;
}
.main .right-part .content-wrap .car-panel .panel-heading .color-gray {
  color: #666;
}
.main .right-part .content-wrap .car-panel .panel-body .form-space .form-group {
  margin-right: 50px;
}
.main .right-part .content-wrap .car-panel .panel-body .form-space .form-group label {
  font-weight: 500;
  margin-right: 20px;
}
.main .right-part .content-wrap .car-panel .panel-body .chart-h400 {
  width: 100%;
  height: 400px;
}
.main .right-part .content-wrap .car-panel .panel-body.noHorizontalPadding {
  padding: 15px 0;
}
.main .right-part .content-wrap .car-panel .panel-body.noPadding {
  padding: 0;
}
.main .right-part .content-wrap .car-panel .panel-body .title-dot {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
}
.main .right-part .content-wrap .car-panel .panel-body .title-dot:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 6px;
  display: block;
  width: 8px;
  height: 8px;
  background: #3384ff;
  border-radius: 50%;
}
.main .right-part .content-wrap .car-panel .panel-body .summary {
  margin-bottom: 15px;
}
.main .right-part .content-wrap .brand-select-box {
  padding: 45px 0;
  position: relative;
  border-bottom: 1px solid #dddddd;
}
.main .right-part .content-wrap .brand-select-box .swiper-container {
  width: 100%;
  margin-bottom: 50px;
}
.main .right-part .content-wrap .brand-select-box .swiper-container .swiper-slide {
  border: 1px solid #ddd;
}
.main .right-part .content-wrap .brand-select-box .swiper-container .swiper-slide .img-box {
  line-height: 100px;
  margin: auto;
  display: table;
}
.main .right-part .content-wrap .brand-select-box .swiper-container .swiper-slide .checkbox-box {
  line-height: 50px;
  text-align: center;
}
.main .right-part .content-wrap .brand-select-box .swiper-container .swiper-slide .select-box {
  line-height: 50px;
  margin: 50px auto;
  text-align: center;
}
.main .right-part .content-wrap .brand-select-box .swiper-container .swiper-button-prev,
.main .right-part .content-wrap .brand-select-box .swiper-container .swiper-button-next {
  display: none;
}
.main .right-part .content-wrap .brand-select-box .swiper-icon-prev {
  position: absolute;
  left: -26px;
  top: 105px;
  background-image: url("../images/icon-arrow.png");
  background-repeat: no-repeat;
  display: block;
  width: 15px;
  height: 25px;
  cursor: pointer;
}
.main .right-part .content-wrap .brand-select-box .swiper-icon-next {
  position: absolute;
  right: -26px;
  top: 105px;
  background-image: url("../images/icon-arrow.png");
  background-repeat: no-repeat;
  background-position: -41px 0;
  display: block;
  width: 15px;
  height: 25px;
  cursor: pointer;
}
.main .right-part .content-wrap .car-table {
  font-size: 16px;
  text-align: center;
}
.main .right-part .content-wrap .car-table thead tr.color-black th {
  color: #333 !important;
}
.main .right-part .content-wrap .car-table thead tr th {
  color: #3384ff;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  line-height: 43px;
}
.main .right-part .content-wrap .car-table thead tr th.color-black {
  color: #333;
}
.main .right-part .content-wrap .car-table td {
  line-height: 53px;
  vertical-align: middle;
}
.main .right-part .content-wrap .car-table td.color-blue {
  color: #3384ff;
}
.main .right-part .content-wrap .car-table td.merge-td {
  width: 350px;
  background-color: #fff;
}
.main .right-part .content-wrap .bootstrap-table .car-table thead tr th div.th-inner {
  line-height: 53px;
}
.main .right-part .content-wrap .car-modal .modal-header {
  background-color: #3384ff;
  color: #fff;
}
.main .right-part .content-wrap .car-modal .modal-header .close {
  opacity: 1;
  color: #fff;
  font-weight: 500;
}
.main .right-part .content-wrap .car-modal .modal-content .brand-select-box {
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 0;
}
.main .right-part .content-wrap .car-modal .modal-content .brand-select-box .swiper-icon-prev {
  left: 0;
}
.main .right-part .content-wrap .car-modal .modal-content .brand-select-box .swiper-icon-next {
  right: 0;
}
.main .right-part .content-wrap .car-modal .modal-content .modal-form {
  width: 80%;
  margin: auto;
}
.main .right-part .content-wrap .car-modal .modal-content .modal-form label {
  margin-left: 5px;
  font-weight: 500;
}
.main .right-part .content-wrap .car-modal .modal-footer {
  text-align: center;
}
.main .btn-blue {
  border: 1px solid #3384ff;
  color: #3384ff;
}
.main .btn-bg-blue,
.main .btn-bg-blue:hover,
.main .btn-bg-blue:active,
.main .btn-bg-blue:focus {
  background: #3384ff;
  color: #fff;
}
.main .btn-gray {
  color: #666;
  border: 1px solid #ddd;
  padding: 5px 11px;
}
.main .btn-big {
  width: 144px;
  height: 47px;
}
.main .mrR10 {
  margin-right: 10px !important;
}
.main .mrB10 {
  margin-bottom: 10px !important;
}
.main .mrL20 {
  margin-left: 20px !important;
}
.main .color-blue {
  color: #3384ff;
}
@media screen and (max-width: 1600px) {
  .left-part {
    width: 190px !important;
  }
  .right-part {
    padding: 20px !important;
    margin-left: 190px !important;
  }
  .right-part .content-wrap {
    padding: 0 20px !important;
  }
  .right-part .content-wrap .brand-select-box .swiper-icon-prev {
    left: -18px !important;
  }
  .right-part .content-wrap .brand-select-box .swiper-icon-next {
    right: -19px !important;
  }
  .right-part .content-wrap .car-table {
    font-size: 12px !important;
  }
}
